html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray; 
}

.outer-container {
    width: 65%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: purple;
    height: 85%;
}

.inner-container {
    display: flex;
    height: 100%;
}

.left-box, .right-box {
    padding: 20px;
    box-sizing: border-box;
}

.left-box {
    flex: 1.5;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-box {
    flex: 2;
    background-color: whitesmoke;
    position: relative;
}

.box1, .box2, .box3, .box4 {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.box1 {
    background-color: #FF5733;
    width: 55%;
    height: 37%;
    top: 0%;
    left: 0%;
    background-image: url('image1.jpeg');
}

.box2 {
    background-color: purple;
    width: 40%;
    height: 55%;
    top: 0%;
    left: 60%;
    background-image: url('image2.jpeg');
}

.box3 {
    background-color: #FF33F2;
    width: 55%;
    height: 59%;
    top: 41%;
    left: 0%;
    background-image: url('image3.jpeg');
}

.box4 {
    background-color: yellow;
    width: 40%;
    height: 41%;
    top: 59%;
    left: 60%;
    background-image: url('image4.jpeg');
}

.logo-box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -30px;
    margin-bottom: 100px;
}

.logo-box img {
    max-width: 100%;
    max-height: 100%;
}

.heading h2 {
    font-size: 24px;
    margin-bottom: 10px;
    position: absolute;
    top: 150px;
    left: 18%;
    transform: translateX(-20%);
    font-family: Open Sans;
    font-style: bold;
    font-weight: 500;
}

.heading h3 {
    font-family: Open Sans;
    font-style: bold;
    font-weight: 500;
    position: absolute;
    top: 220px;
    left: 15%;
}

.choice-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 30px 55px;
    margin: 0 0 50px 0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block;
    font-family: Open Sans;
    font-style: bold;
    font-weight: 8000;
    font-size: 18px;

}

.choice-button:focus {
    outline: none !important;
}

.choice-button:hover {
    background-color: whitesmoke;
    color: black;
}

.larger-container {
    background-color: black;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
